.weather-detail {
  display: flex;
  flex-direction: column;
}

.detail-name {
  color: var(--color-translucent-text);
}

@media (max-width: 500px) {
  .weather-detail .detail-name {
    font-size: 15px;
    padding-bottom: 2px;
  }

  .weather-detail .detail {
    font-size: 18px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .weather-detail .detail-name {
    padding-bottom: 5px;
    font-size: 15px;
  }

  .weather-detail .detail {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .weather-detail .detail-name {
    padding-bottom: 10px;
    font-size: 18px;
  }

  .weather-detail .detail {
    font-size: 25px;
  }
}
